version: '3.8'

services:
  # 1. DATABASE
  postgres-db:
    image: postgres:15
    container_name: hotel_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  # 2. BACKEND API
  hotel-backend:
    build: ./hotel_backend
    container_name: hotel_backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

  # 3. FRONTEND (NGINX)
  hotel-frontend:
    build: ./hotel_frontend
    container_name: hotel_frontend
    ports:
      - "5173:80" 
    depends_on:
      - hotel-backend

caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend

volumes:
  db_data:
  caddy_data: 
  caddy_config: